<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="w3-display-container w3-content w3-center">
        <div class="w3-bar w3-light-grey w3-round w3-hide-small">
            <ul>
                <li class="w3-bar-item w3-button">One</li>
                <li class="w3-bar-item w3-button">Two</li>
                <li class="w3-bar-item w3-button">Three</li>
                <li class="w3-bar-item w3-button">Four</li>
            </ul>
        </div>
    </div>
</body>
</html>