@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>


<h3><b>Author:</b> Philip Dumaresq</h3>
<h3><b>Class:</b> Web Programming V (420-C50)</h3>
<h3><b>Teacher:</b> Richard Chan</h3>
<h3><b>Date Submitted:</b> December 5th 2017</h3>
